<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="general.html :: header">

</head>
<body>
<div class="container-fluid ">
    <div class="row h-100">
        <div class="flex-column col-3  align-items-center bg-light ">
            <div class="row d-flex justify-content-center">
                <div class="col-4" id="profile">
                    <img src="../images/profile.png" width="50" height="50" alt="profile">
                </div>
            </div>
            <hr class="hr-gray">
            <div class="row d-flex row-cust row-mr-top" th:object="${user}">
                <div class="col-4 " id="name">
                    <img src="../images/name.png" width="24" height="24" alt="profile" th:text="${user.getName()}">
                </div>
                <div class="col" id="surname" th:text="${user.getSurname()}">
                </div>
            </div>
            <div class="row row-cust  row-mr-top">
                <div class="col" id="phoneNumber">
                    <img src="../images/phone.png" width="24" height="24" alt="profile"
                         th:text="${user.getTelephone()}">
                </div>
            </div>
            <div class="row row-cust row-mr-top">
                <div class="col" id="email">
                    <img src="../images/mail.png" width="24" height="24" alt="profile" th:text="${user.getEmail()}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row align-items-end h-50 row-cust justify-content-center">
                        <div class="col-8">
                            <a th:href="@{/user/requestAccount(userId=${user.id}, type='DEPOSIT')}" class="btn btn-primary btn-cust" th:text="#{label.newDepositAccount}"></a>
                        </div>
                    </div>
                    <div class="row row-cust justify-content-center row-mr-top">
                        <div class="col-8">
                            <a th:href="@{/user/requestAccount(userId=${user.id}, type='CREDIT')}" class="btn btn-primary btn-cust" th:text="#{label.newCreditAccount}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col flex-column cl">
            <!--Credit/Deposit navigation pills-->
            <div class="container-fluid">
                <div class="row justify-content-center h-100">
                    <div class="col-7">
                        <div class="tab-content" id="pills-tabContent" th:each="account : ${page.content}">
                            <!--Credit Card Panel-->
                            <!--New card-->
                            <div class="card card-cust">
                                <h6 class="card-header" th:text="#{label.accountInfo}"></h6>
                                <div class="row row-cust">
                                    <div class="col-4 " th:text="#{label.expirationDate}"></div>
                                    <div class="col-6" id="crExpiration" th:text="${account.getExpirationDate()}">Your
                                        text
                                    </div>
                                </div>
                                <hr>
                                <div class="row row-cust">
                                    <div class="col-4 " th:text="#{label.holder}"></div>
                                    <div class="col-6" id="crHolder" th:text="${account.getOwner().getSurname()}">
                                    </div>
                                </div>
                                <hr>
                                <div class="row row-cust">
                                    <div class="col-4" th:text="#{label.balance}"></div>
                                    <div class="col-6" id="crBalance" th:text="${account.getBalance()}"></div>
                                </div>

                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-3">
                                        <a href="#" class="btn btn-primary btn-cust"
                                           th:href="@{/user/accountDetails(page='0',type=${account.getAccountType()},id=${account.getId()})}"
                                           th:text="#{button.detail}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Card ends here ^-->
                        <div class="col-2 cl">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group mr-2" role="group" aria-label="First group"
                                     th:each="pageNumber : ${pageNumbers}">
                                    <a th:href="@{/user/accounts(page=${pageNumber - 1})}"
                                       th:text="${pageNumber}"
                                       th:class="${pageNumber==page.number + 1} ? active"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>
<div th:insert="/general.html :: footer">

</div>

</body>
</html>