<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{../css/main.css}">

    <title>Accounts Information</title>
</head>
<body>
<div class="container-fluid ">
    <div class="row h-100">
        <div class="flex-column col-3  align-items-center bg-light ">
            <div class="row d-flex justify-content-center">
                <div class="col-4" id="profile">
                    <img src="../images/profile.png" width="50" height="50" alt="profile">
                </div>
            </div>
            <hr class="hr-gray">
            <div class="row d-flex row-cust row-mr-top" th:object="${user}">
                <div class="col-4 " id="name">
                    <img src="../images/name.png" width="24" height="24" alt="profile" th:text="${user.getName()}">
                </div>
                <div class="col" id="surname" th:text="${user.getSurname()}">
                </div>
            </div>
            <div class="row row-cust  row-mr-top">
                <div class="col" id="phoneNumber">
                    <img src="../images/phone.png" width="24" height="24" alt="profile"
                         th:text="${user.getTelephone()}">
                </div>
            </div>
            <div class="row row-cust row-mr-top">
                <div class="col" id="email">
                    <img src="../images/mail.png" width="24" height="24" alt="profile" th:text="${user.getEmail()}">
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
        <div class="col flex-column cl">
            <!--Credit/Deposit navigation pills-->
            <div class="container-fluid">
                <div class="row bg-light header-cust">
                </div>
                <div class="row justify-content-center h-100">
                    <div class="col-7">
                        <div class="tab-content" id="pills-tabContent" th:each="account : ${accountPage.content}">
                            <!--Credit Card Panel-->
                            <!--New card-->
                            <div class="card card-cust">
                                <h6 class="card-header">Account Information</h6>
                                <div class="row row-cust">
                                    <div class="col-4 ">Expiration date:</div>
                                    <div class="col-6" id="crExpiration" th:text="${account.getExpirationDate()}">Your
                                        text
                                    </div>
                                </div>
                                <hr>
                                <div class="row row-cust">
                                    <div class="col-4 ">Holder:</div>
                                    <div class="col-6" id="crHolder" th:text="${account.getOwner().getSurname()}">Your
                                        text
                                    </div>
                                </div>
                                <hr>
                                <div class="row row-cust">
                                    <div class="col-4">Balance:</div>
                                    <div class="col-6" id="crBalance" th:text="${account.getBalance()}">Your text</div>
                                </div>

                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-3">
                                        <a href="#" class="btn btn-primary btn-cust">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Card ends here ^-->
                        <div class="row align-self-end row-bott justify-content-center">
                            <div class="col-2 cl">
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group mr-2" role="group" aria-label="First group"
                                         th:each="pageNumber : ${pageNumbers}">
                                        <a th:href="@{/user/accounts(page=${pageNumber - 1})}"
                                           th:text="${pageNumber}"
                                           th:class="${pageNumber==accountPage.number + 1} ? active"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>