<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="general.html :: header">
</head>
<body>
<div class="row h-100">
    <div class="flex-column col-3  align-items-center bg-light " th:object="${user}">
        <div class="row d-flex justify-content-center">
            <div class="col-4" id="profile">
                <img src="../images/profile.png" width="50" height="50" alt="profile">
            </div>
        </div>
        <hr class="hr-gray">
        <div class="row d-flex row-cust row-mr-top">
            <div class="col-4 " id="name">
                <img src="../images/name.png" width="24" height="24" alt="profile" th:text="${user.name}">

            </div>
            <div class="col" id="surname" th:text="${user.surname}">
            </div>
        </div>
        <div class="row row-cust  row-mr-top">
            <div class="col" id="phoneNumber">
                <img src="../images/phone.png" width="24" height="24" alt="profile" th:text="${user.telephone}">
            </div>
        </div>
        <div class="row row-cust row-mr-top">
            <div class="col" id="email">
                <img src="../images/mail.png" width="24" height="24" alt="profile" th:text="${user.email}">
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="col">

        <div class="row justify-content-center">
            <div class="col-7">
                <div class="tab-content" id="pills-tabContent">

                    <!--Deposit Card-->
                    <form th:action="@{/admin/accountRegistration}" th:object="${account}" method="post">
                        <div class="card card-cust">
                            <h6 class="card-header" th:text="#{label.newDepositAccount}"></h6>
                            <div class="row row-cust">
                                <div class="collapse">
                                    <input th:text="${account.owner}" th:field="*{owner}">
                                    <input th:text="${account.requestId}" th:field="*{requestId}">
                                </div>
                                <div class="col-4 " th:text="#{label.expirationDate}"></div>
                                <div class="col-6">
                                    <input type="date" class="form-control" id="dpExpiration"
                                           th:field="*{expirationDate}">
                                </div>
                            </div>
                            <hr>
                            <hr>
                            <div class="row row-cust">
                                <div class="col-4" th:text="#{label.rate}"></div>
                                <div class="col-6">
                                    <input type="number" step="0.01" class="form-control" id="dpRate" value=""
                                           th:field="*{depositRate}">
                                </div>
                            </div>
                            <hr>
                            <div class="row row-cust">
                                <div class="col-4" th:text="#{label.depositAmount}"></div>
                                <div class="col-6">
                                    <input type="number" step="0.01" class="form-control" id="dpAmount" th:field="*{depositAmount}">
                                </div>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary btn-cust"
                                    th:text="#{button.createAccount}"></button>
                        </div>
                        <div class="alert alert-danger collapse" role="alert" id="error"
                             th:if="${error != null}" th:class="'alert alert-danger collapse.show'"
                             th:text="#{label.transactionError}">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

</div>
</div>
<
<div th:insert="general.html :: footer">
    <!-- Footer -->
</div>
</body>
</html>