<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="general.html :: header">

</head>
<body>
<div class="container align-items-center" style="margin-top: 10%">
    <div class="row">
        <div class="col">
            <div class="card card-cust border-danger" style="height: 300px;">
                <h6 class="card-header border-danger"></h6>
                <div class="row row-cust justify-content-center" style="margin-top: 10%">
                    <div class="col-4">
                        <h2 style="color: indianred">Access denied!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>